<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                '끈기 있게 스스로 학습하는 자신감 넘치는 아이’
            </p>
            <p class="paragraph-text justify-text">
                안녕하세요. 저는 항상 끊임 없이 발전하고 성장하는 것을 지향하는, 열정과 끈기 있는 개발자입니다.
            </p>
            <p class="paragraph-text justify-text">
                끊임없이 발전하는 디지털 기술의 세계에 매력을 느껴 컴퓨터 공학을 선택 하였습니다. 그리고 창의적인 사고하는 것을 즐겨하여 다양한 프로젝트 아이디어 들을 실현시키기 위한 코딩은 필수 적이였습니다. 코딩으로 인한 산출물들은 저에게 동기부여와 창의적인 사고를 촉진해 주었습니다.
            </p>
            <p class="paragraph-text justify-text">
                항상 어떤 일을 하면 그 일이 아주 사소하다고 하여도 끈기 있게 스스로 될 때 까지 최선을 다하여 수행 하였습니다. 팀프로젝트를 할 때면 항상 제 일을 미루지 않고 먼저 끝내려 하였고 끝낸 뒤엔 팀원을 도와주거나 다른 필요한일을 찾아서 하곤 했습니다. 사소한 것도 항시 스스로 생각하고 상상해보는 등 구조의 중요성을 알고 가볍게 넘기지 않았습니다.
                '스스로 하지 않으면 결코 발전 할 수 없기 때문입니다.'
            </p>
            <p class="paragraph-text justify-text">
                그리고 사람을 좋아하고 말을 듣고 얘기하는, 의사소통 하는 것을 좋아해서 학창시절 교우관계가 좋았고 고등학교땐 회장자리까지 할 수 있었습니다. 이러한 성격은 대학교에 들어가서도 동기와 선배, 후배들 과의 관계가 좋았기에 자신감을 얻어 컴퓨터공학과 7대 학회장을 할 수 있게 되었습니다.
            </p>
            <p class="paragraph-text justify-text">
                '모든 문제는 의사소통의 부재와 오해로 인해 발생된다.'는걸 배워왔기에 이러한 점을 새겨두고 프로젝트를 할때에도 추후 실무에 들어갈 때에도 신속 정확한 의사소통으로 시간과 노력을 줄일 수 있다고 생각합니다.
            </p>
            <p class="paragraph-text justify-text">
                '인생에 가장 큰 실패, 그러나 가장 많은 것을 알려준 고마운 선생님'
            </p>
            <p class="paragraph-text justify-text">
                대학교 진학 중 저는 영화에 나온 소방관에 빠져 모든 일을 미루고 소방관 준비에 올인 하였습니다. 준비 끝에 최종면접까지 갔지만 아쉽게 떨어졌고 그 뒤 턱밑까지 갔다는 자신감에 무리하다 부상으로 잠시 꾼 꿈을 포기하고 학업에 복귀하였습니다. 하지만 ‘날 죽이지 못하는 고통은 날 더 강하게 만든다.’라는 말처럼 좌절하였지만 공부하는 습관과 어떻게 하면 빠르게 이해할 수 있는지 나만의 방법을 배웠고 어렵고 힘들어도 나의 집중력의 시간과 침착함의 중요성 등을 배울수 있었습니다. 비록 햄스트링 부상으로 끝났지만 오히려 열정으로 햄스트링을 부셨다! 라는 마인드로 어떠한 어려움이 온들 뭐든 할 수 있다는 강한 자신감이 생겼습니다.
            </p>
            <p class="paragraph-text justify-text">
                저의 블로그는 <a href="{{ site.blog_url }}">blog.naver.com/hacs2772</a> 이고 깃허브 주소를 원하시면 <a href="https://github.com/{{ site.github_username }}">GitHub</a>를 눌러주시면 됩니다. 저의 이메일 주소는 <span class="extra-link"><a href="#extra">하단</a></span>에 있습니다.
            </p>
        </div>
    </section>
</div>
