<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                '끈기 있게 스스로 학습하는 자신감 넘치는 아이’
            </p>
            <p class="paragraph-text justify-text">
                안녕하세요. 저는 항상 끊임 없이 발전하고 성장하는 것을 지향하는, 열정과 끈기 있는 개발자입니다.
            </p>
            <p class="paragraph-text justify-text">
                저는 항상 어떤 일을 하면 그 일이 아주 사소하다고 하여도 끈기 있게 스스로 안될 때 까지 최선을 다하여 수행 하였습니다. 팀프로젝트를 할 때면 항상 제 일을 미루지 않고 먼저 끝내려 하였고 끝낸 뒤엔 팀원을 도와주거나 다른 필요한일을 찾아서 하곤 했습니다. 사소한 것도 항시 스스로 생각하고 상상해보는 등 가볍게 넘기지 않았습니다. 이러한 성격으로 많은 지식이 들어와 피곤하기도 하겠지만 내 스스로 발전 할 수 있다는 생각에 뿌듯함을 가지고 수행 하였습니다. 이러한 성격은 컴퓨터에 대해 하나도 모르셨던 아버지께서 베이스부터 공부하고 또 공하여 박사 개발자까지 올라가셨던 것을 보고 자란 영향이 있다고 생각합니다.
            </p>
            <p class="paragraph-text justify-text">
                그리고 사람을 좋아하고 말을 듣고 얘기하는, 의사소통 하는 것을 좋아해서 학창시절 교우관계가 좋았고 고등학교땐 회장자리까지 할 수 있었습니다. 이러한 성격은 대학교에 들어가서도 동기와 선배, 후배들 과의 관계가 좋았기에 자신감을 얻어 컴퓨터공학과 7대 학회장을 할 수 있게 되었습니다. 학회 일을 하면서 서로 의견 트러블이 날 때면 의견을 조율하고 합의점을 찾아 나갈 수 있게 소통하고 공감하는 등 최선을 다해 도와주곤 했습니다.
            </p>
            <p class="paragraph-text justify-text">
                대학교 진학 중 저는 영화에 나온 소방관에 빠져 모든 일을 미루고 소방관 준비에 올인 하였습니다. 준비 끝에 최종면접까지 갔지만 아쉽게 떨어졌고 그 뒤 턱밑까지 갔다는 자신감에 무리하다 부상으로 잠시 꾼 꿈을 포기하고 학업에 복귀하였습니다. 하지만 ‘날 죽이지 못하는 고통은 날 더 강하게 만든다.’라는 말처럼 좌절하였지만 공부하는 습관과 방법을 배웠고 어렵고 힘들어도 암기력은 뛰어나다는 것을 알 수 있게 되었습니다. 비록 햄스트링 부상으로 끝났지만 오히려 열정으로 햄스트링을 부셨다! 라는 마인드로 어떠한 어려움이 온들 뭐든 할 수 있다는 강한 자신감이 생겼습니다.
            </p>
            <p class="paragraph-text justify-text">
                저의 블로그는 <a href="{{ site.blog_url }}">blog.naver.com/hacs2772</a> 이고 깃허브 주소를 원하시면 <a href="https://github.com/{{ site.github_username }}">GitHub</a>를 눌러주시면 됩니다. 저의 이메일 주소는 <span class="extra-link"><a href="#extra">bottom</a></span> 입니다.
            </p>
        </div>
    </section>
</div>
