<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                instargram : <a href="https://www.instagram.com/haji__memashite/">haji__memashite</a>
            </p>
            <p class="paragraph-text justify-text">
                e-mail : <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            </p>
            <!-- <p class="paragraph-text justify-text">
                My resume is available here: <a href="{{ site.blog_url }}/resume/resume.pdf">PDF</a>, <a href="{{ site.blog_url }}/resume/resume.docx">DOC</a>
            </p> -->
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="PGP Key">
                    <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
                </span> -->
                <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> -->
            </div>
        </div>
    </section>
</div>